@charset "UTF-8";

 body {
        background-color: #FFF8E1; /* 밝은 크림 배경색 */
    }

    h5 {
        color: #E91E63; /* 베리 핑크 글자색 */
    }

    .inputbutton {
        background-color: #FFD700; /* 캐러멜 골드 버튼 배경색 */
        color: white; /* 흰색 글자색 */
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }