beautifulsoup4
cx-Oracle
Django
django-cors-headers
django-mathfilters
djangorestframework
flake8
konlpy
launchpadlib
lxml
matplotlib
mysqlclient
numpy
openpyxl
pandas
Pillow
pydotplus
PyMySQL
pyproj
requests
scikit-image
scikit-learn
scikit-surprise
seaborn
selenium
webdriver-manager