@charset "UTF-8";

div {
	vertical-align: middle;
}

.header {
	text-align: right;
	border: none; 
	background-color: white;
}
input[type="button"][value="Maddi"] {
	border:none; 
	font-size: 20px; 
	background-color: white;
}

input[type="button"] {
  border: none;
  background-color: white;
  padding: 5px 10px;
}

.header input[type="button"],
.header button {
  margin-right: 10px;
}

input.inputbutton[type="submit"][value="로그인"]{
  border: none;
  background-color: #ffab66;
  color: black;
  padding: 5px 95px;
  border-radius: 10px;
  border: 1px solid #f7d4b7;
 }

input.inputbutton[type="button"][value="회원가입"]{
  border: none;
  background-color:#ffab66;
  color:black;
  padding: 5px 90px;
  border-radius: 10px;
  border: 1px solid #f7d4b7;
}

input.input[type="text"][name="user_id"],[type="password"],[name="user_name"],[name="user_nick"]{
	padding: 5px 10px;
}
input[type="date"]{
	padding: 3px 43px;
}

 a:link { color:black; text-decoration: none;}
 a:visited { color: black; text-decoration: none;}
 a:hover { color: white; text-decoration: none;}

.top {
  background-color:#ffab66;
  padding: 15px;
}

.login {
	top: 10%;
	left: 50%;
	margin-bottom :500px
}
.userinput{
	top: 10%;
	left: 50%;
	right: 50%;
	margin-bottom :100px;
}

.userinput2{
	left: 50%;
	right: 50%;
}
