@charset "UTF-8";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    padding: 15px;
    text-align: center;
}

th {
    background-color: #f5f5f5;
    font-weight: normal;
}

th img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input {
    text-align: center;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.menu_price {
    font-weight: bold;
    font-size: 20px;
    color: #007bff;
}

tr.detail-row {
    display: none;
    background-color: #f9f9f9;
}

.show-details {
    cursor: pointer;
    color: #28a745;
    text-decoration: underline;
}

.details-active .show-details {
    text-decoration: none;
}
