{% extends "md_member/base.html" %}

{% block title %} <h2> 추천글 작성 </h2> {% endblock %}
{% block content %}
{% csrf_token %}
<form method="post" action="combwrite "	name="combwriteform" enctype="multipart/form-data">
	<table border="1">
		<tr>
			<th colspan="4" align="center"> 게시글 작성 </th>
		</tr>
		<tr>
			<th> 작성자 </th>
			<td> {{ nick.user_nick }}</td>
		</tr>
		<tr>
			<th> 제목 </th>
			<td>
				<input class="input" type="text" name="comb_tit" maxlength="90" placeholder="제목을 입력해 주세요" required>
			</td>
		</tr>
		<tr>
			<th> 인원수 </th>
			<td>
				<select name = "comb_nop">
					<option value="1"> 1인 </option>
					<option value="2"> 2인 </option>
					<option value="3"> 3인 </option>
					<option value="4"> 4인 </option>
				</select>
			</td>
		</tr>
		<tr>
			<span id="drnkIdList" hidden>{{drnkIdList}}</span>
			<span id="dsrtIdList" hidden>{{dsrtIdList}}</span>
			<span id="drnkNameList" hidden>{{drnkNameList}}</span>
			<span id="dsrtNameList" hidden>{{dsrtNameList}}</span>
			
			<script>
				console.log($('#drnkIdList').text());
				console.log($('#dsrtIdList').text());
				console.log($('#drnkNameList').text());
				console.log($('#dsrtNameList').text());
			</script>
			
		<tr>
			<th>대표메뉴2	</th>
			<td> 
				<select name="dord2" required onchange="dndchanget(this)">
					<option value="" disabled="none" selected> 대분류 </option>
					<option value=1> 음료 </option>
					<option value=2> 디저트 </option>
				</select>

				<script>
				function dndchanget(e) {
					var drnkIdL   = $('#drnkIdList').text().replace('[','').replace(']','').replace(/ /g,'').replace(/\'/g,'').split(',');
					var dsrtIdL   = $('#dsrtIdList').text().replace('[','').replace(']','').replace(/ /g,'').replace(/\'/g,'').split(',');
					var drnkNameL = $('#drnkNameList').text().replace('[','').replace(']','').replace(/ /g,'').replace(/\'/g,'').split(',');
					var dsrtNameL = $('#dsrtNameList').text().replace('[','').replace(']','').replace(/ /g,'').replace(/\'/g,'').split(',');
					
					var target    = document.getElementById("dsrt");
					var menu2ndIdL;
					var menu2ndNameL;
					var menu3rdIdL;
					var menu3rdNameL;

					if (e.value == 1 ) {
						menu2ndIdL	 = drnkIdL;
						menu2ndNameL = drnkNameL;
					}
					else if (e.value == 2 ) {
						menu2ndIdL	 = dsrtIdL;
						menu2ndNameL = dsrtNameL;
					}
						
					console.log(menu2ndIdL)
					console.log(menu2ndNameL)

					target.options.length = 0;
					
					for (i in menu2ndNameL) {
						var opt = document.createElement("option");
						
						opt.value     = menu2ndIdL[i];
						opt.innerHTML = menu2ndNameL[i];
						
						target.appendChild(opt);
					}
					
					console.log(target)
				}
				
				</script>
				
				<select id = "dsrt">
					<option> 중분류 </option>
				</select>
				
				<select name="dessert" required>
					<option> 소분류 </option>
					
				</select>
			</td>
		</tr>
		
		
		
		<tr>
			<th> 내용 </th><!--  범위 수정해야 함 -->
			<td> 
				<textarea name="comb_cont" rows="10" cols="30"  placeholder="내용을 입력해 주세요" required></textarea>
			</td>
		</tr>
		<tr>
			<th> 이미지 첨부 </th> <!-- 썸네일 가능하면 -->
			<td>
				<input class="input" type="file" name="comb_img" accept="image/*" >
			</td>
		</tr>
		<tr>
			<th colspan="2">
				<input class="inputbutton" type="submit" value="작성">
				<input class="inputbutton" type="reset" value="취소">
				<input class="inputbutton" type="button" value="작성취소"
					onclick="location='/md_combi/comblist'">
			</th>
		</tr>
	</table>
</form>
{% endblock %}