{% extends "md_admin/base.html" %}

{% block content %}
<h2>관리자 통계페이지-연령</h2>
	<div style = "float:left; margin-right:80px">
	  <canvas id="age" width = "500" height = "500"></canvas>
	</div>
	<span id = "agecount" hidden>{{agecount}}</span><!--span으로 넘어온값 template단에 표시x jquery데이터넘기기 -->
	<div style = "float:left; margin-right:80px">
		<table border = "1">
			<tr>
				<td align = "center">연령대</td>
				<td align = "center">명</td>
			</tr>
			<tr>
				<td align = "center">10대</td>
				<td align = "center">{{agecount.0}}</td>
			</tr>
			<tr>
				<td align = "center">20대</td>
				<td align = "center">{{agecount.1}}</td>
			</tr>
			<tr>
				<td align = "center">30대</td>
				<td align = "center">{{agecount.2}}</td>
			</tr>
			<tr>
				<td align = "center">40대</td>
				<td align = "center">{{agecount.3}}</td>
			</tr>
			<tr>
				<td align = "center">50대</td>
				<td align = "center">{{agecount.4}}</td>
			</tr>
			<tr>
				<td align = "center">60대이상</td>
				<td align = "center">{{agecount.5}}</td>
			</tr>
			<tr>
				<td align = "center">전체</td>
				<td align = "center">{{count}}</td>
			</tr>
		</table>
	</div>
{% endblock %}