{% extends "md_admin/base.html" %}

{% block content %}
<h2>관리자 통계페이지-연령</h2>
	<div style = "float:left; margin-right:80px">
	  <canvas id="age" width = "500" height = "500"></canvas>
	</div>
	<span id = "agecount" hidden>{{agecount}}</span><!--span으로 넘어온값 template단에 표시x jquery데이터넘기기 -->
	<div style = "float:left; margin-right:80px">
		10대: {{agecount.0}}명<br>
		20대: {{agecount.1}}명<br>
		30대: {{agecount.2}}명<br>
		40대: {{agecount.3}}명<br>
		50대: {{agecount.4}}명<br>
		60대이상: {{agecount.5}}명<br>
	</div>
{% endblock %}