{%load static%}


<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src = "{%static 'js/jquery-3.6.4.js'%}"></script>
	<script src = "{%static 'js/script_admin.js'%}"></script>
	<script src = "{%static 'js/script_gastatis.js'%}"></script>
	<script src = "{%static 'js/script_interstatis.js'%}"></script>
	<script src = "{%static 'js/script_taststatis.js'%}"></script>
	<script src = "{%static 'js/script_dsrtstatis.js'%}"></script>
	<script src = "{%static 'js/script_drnkstatis.js'%}"></script>
	<script src = "{%static 'js/script_bdsrtstatis.js'%}"></script>
	<script src = "{%static 'js/script_bdrnkstatis.js'%}"></script>
	<script src=  "https://cdn.anychart.com/releases/8.10.0/js/anychart-bundle.min.js"></script>
	<script src = "{%static 'js/script_keystatis.js'%}"></script>
	<script src = "{%static 'js/script_ordr.js'%}"></script>
	
	<title>관리자 페이지</title>
</head>

	<div class="logo">
		<div class="container">
			<div class="col-md-12 mt-3"></div>
		</div>
		<div class="row">
			<div class="col" style="text-align:center;"><a href="/md_main/main"><img src="/static/image/logo.png" width="10%;" height="auto;"></a></div>
		</div>
		<div class="container">
			<div class="col-md-12 mt-3"></div>
		</div>
	</div>
	
	<div class="col-md-12 mt-5"></div>
	<div class="col-md-12 mt-5"></div>
	
	<div class="container">
			<div class="row">
				<div class="col-2">
				<h4>관리자 페이지</h4>
						<div class="col-md-12 mt-5"></div>
		
						<h5>사이트관리</h5>
							<a href="/md_admin/userlist">회원관리통계</a><br>
							<a href="/md_admin/reviewlist">리뷰관리</a><br>
							<a href="/md_admin/sregistlist">점주신청관리</a><br>
						
						<div class="col-md-12 mt-3"></div>
						
						<h5>회원통계</h5>
							<a href="/md_admin/genstatis">성별통계</a><br>
							<a href="/md_admin/agestatis">연령통계</a><br>
							<a href="/md_admin/interestatis">관심사통계</a><br>
							<a href="/md_admin/tastestatis">입맛통계</a><br>
							<a href="/md_admin/dsrtstatis">디저트취향통계</a><br>
							<a href="/md_admin/drnkstatis">음료통계</a><br>
							<a href="/md_admin/iaostatis">회원유입&이탈통계</a><br>
							<a href="/md_admin/bdsrtstatis">구매기반 디저트통계</a><br>
							<a href="/md_admin/bdrnkstatis">구매기반 음료통계</a><br>

						<div class="col-md-12 mt-3"></div>
						
						<h5>사이트통계</h5>
							<a href="/md_admin/storestatis">매장통계</a><br>
							<a href ="/md_admin/keystatis">검색통계</a><br>
				</div>

				<div class="col-10">
			

	{%block content%}
	
	{%endblock%}
				</div>
			</div>
		</div>
		
	{% block footer %}
		<footer class="footer">
			<hr>
			<p>Copyright <b>Maddi(이하맛디)</b> Inc. All Rights Reserved</p>
		</footer>
	{% endblock %}
</body>
</html>