{% extends "md_admin/base.html" %}

{% block content %}
<h2>관리자 통계페이지-음료취향(회원정보)</h2><br>
	<div>
		<h4>음료취향-전체회원</h4>
	  	<canvas id="drnk"></canvas>
	</div>
	<span id = "list_drnk" hidden>{{list_drnk}}</span><!--span으로 넘어온값 template단에 표시x jquery데이터넘기기 -->
	<span id = "drnk_n" hidden>{{drnk_n}}</span>
	
	<h3>남성 음료취향</h3><br>

	<div style = "float:left;">
		<h4>10대</h4>
	  	<canvas id="drnk_manteen" width = "300" height = "300"></canvas>
	</div>
	<span id = "manteen_drlist" hidden>{{manteen_drlist}}</span><!--span으로 넘어온값 template단에 표시x jquery데이터넘기기 -->
	
	<div style = "float:left;">
		<h4>20대</h4>
	  	<canvas id="drnk_mantwe" width = "300" height = "300"></canvas>
	</div>
	<span id = "mantwe_drlist" hidden>{{mantwe_drlist}}</span><!--span으로 넘어온값 template단에 표시x jquery데이터넘기기 -->
	
	<div style = float:left;>
		<h4>30대</h4>
	  	<canvas id="drnk_manthr" width = "300" height = "300"></canvas>
	</div>
	<span id = "manthr_drlist" hidden>{{manthr_drlist}}</span><!--span으로 넘어온값 template단에 표시x jquery데이터넘기기 -->
	
	<div style = float:left;>
		<h4>40대</h4>
	  	<canvas id="drnk_manfou" width = "300" height = "300"></canvas>
	</div>
	<span id = "manfou_drlist" hidden>{{manfou_drlist}}</span><!--span으로 넘어온값 template단에 표시x jquery데이터넘기기 -->
	
	<div style = float:left;>
		<h4>50대</h4>
	  	<canvas id="drnk_manfiv" width = "300" height = "300"></canvas>
	</div>
	<span id = "manfiv_drlist" hidden>{{manfiv_drlist}}</span><!--span으로 넘어온값 template단에 표시x jquery데이터넘기기 -->
	
	<div>
		<h4>60대 이상</h4>
	  	<canvas id="drnk_manord" width = "300" height = "300"></canvas>
	</div>
	<span id = "manord_drlist" hidden>{{manord_drlist}}</span><!--span으로 넘어온값 template단에 표시x jquery데이터넘기기 -->
	
	<h3>여성 음료취향</h3><br>

	<div style = "float:left;">
		<h4>10대</h4>
	  	<canvas id="drnk_womanteen" width = "300" height = "300"></canvas>
	</div>
	<span id = "womanteen_drlist" hidden>{{womanteen_drlist}}</span><!--span으로 넘어온값 template단에 표시x jquery데이터넘기기 -->
	
	<div style = "float:left;">
		<h4>20대</h4>
	  	<canvas id="drnk_womantwe" width = "300" height = "300"></canvas>
	</div>
	<span id = "womantwe_drlist" hidden>{{womantwe_drlist}}</span><!--span으로 넘어온값 template단에 표시x jquery데이터넘기기 -->
	
	<div style = float:left;>
		<h4>30대</h4>
	  	<canvas id="drnk_womanthr" width = "300" height = "300"></canvas>
	</div>
	<span id = "womanthr_drlist" hidden>{{womanthr_drlist}}</span><!--span으로 넘어온값 template단에 표시x jquery데이터넘기기 -->
	
	<div style = float:left;>
		<h4>40대</h4>
	  	<canvas id="drnk_womanfou" width = "300" height = "300"></canvas>
	</div>
	<span id = "womanfou_drlist" hidden>{{womanfou_drlist}}</span><!--span으로 넘어온값 template단에 표시x jquery데이터넘기기 -->
	
	<div style = float:left;>
		<h4>50대</h4>
	  	<canvas id="drnk_womanfiv" width = "300" height = "300"></canvas>
	</div>
	<span id = "womanfiv_drlist" hidden>{{womanfiv_drlist}}</span><!--span으로 넘어온값 template단에 표시x jquery데이터넘기기 -->
	
	<div>
		<h4>60대 이상</h4>
	  	<canvas id="drnk_womanord" width = "300" height = "300"></canvas>
	</div>
	<span id = "womanord_drlist" hidden>{{womanord_drlist}}</span><!--span으로 넘어온값 template단에 표시x jquery데이터넘기기 -->
	
{% endblock %}