{% extends "md_admin/base.html" %}
{% block content %}
{% csrf_token %}
<h2>전체 매장 주문 확인</h2>
<body>
	<table border = "1">
		<tr>
			<th>주문 ID</th>
			<th>점주 존재여부</th>
			<th>주문 매장명</th>
			<th>주문자 명</th>
			<th>주문 메뉴명</th>
			<th>주문 수량</th>
			<th>주문완료</th>
			<th>주문일시</th>
		</tr>
		{% for k, v in order_list.items %}
			<tr>
				<td align="center">	<!-- 주문 id -->
					{{ k }} 	
				</td>
				<td align="center">	<!-- 점주 존재 여부 -->
					{{ v.stor_nick }} 	
				</td>
				<td align="center">	<!-- 주문 매장명 --> 	
					{{ v.stor_name }}	
				</td>
				<td align="center">	<!--  주문자 명 -->
					{{ v.user_nick }} 	
				</td>
				<td align="center">	<!-- 주문 메뉴명 -->
					{% for mn in v.menu_name %}
						{{ mn }}<br> 	
					{% endfor %}
				</td>
				<td align="center">	<!-- 주문 수량 -->
					{% for on in v.ordr_num %}
						{{ on }}개<br> 	
					{% endfor %}
				</td>
				<td>
					{% if v.com_ts != None %}	<!-- 주문완료 버튼 -->
						<input class="inputbutton" type="button" value="주문 완료" disabled >
					{% else %}
						<input type="button" name="ordr_done" id="ordr_id_{{k}}" value="주문확인{{k}}" >
					{% endif %}
				</td>
				<td align="center">	<!--  주문일시 -->
					{{ v.ordr_ts }} 	
				</td>
			</tr>
		{% endfor %}
	</table>
</body>
{% endblock %}