{% extends "md_admin/base.html" %}

{%block content%}
<div> <h2>리뷰관리</h2> </div>
	<div>
	<table border = "1">
		<tr>
			<th style="width:7%"> 글번호 </th>
			<th style="width:7%"> 아이디 </th>
			<th style="width:7%"> 주문번호 </th>
			<th style="width:7%"> 매장명 </th>
			<th style="width:7%"> 리뷰작성일시 </th>
		</tr>
		{% if count == 0 %}
			<tr>
				<td colspan = "5" align = "center">
					리뷰없음
				</td>
			</tr>
		{%else%}
			{%for rdto in rdtos%}
			<tr>
				<td align = "center">
					{{rdto.rev_id}}
				</td>			
				<td align = "center">
					<a href = "reviewinfo?rev_id={{rdto.rev_id}}">{{rdto.ordr__user__user_id}}</a>				
				</td>
				<td align = "center">
					{{rdto.ordr_id}}
				</td>
				<td align = "center">
					{{rdto.ordr__mdordrm__stor_m__stor__stor_name}}
				</td>
				<td align = "center">
					{{rdto.rev_ts|date:"Y-m-d"}}
				</td>												
			</tr>
			{%endfor%}
		{%endif%}
	</table>
	</div>
{%endblock%}
