{% extends "md_admin/base.html" %}
{% block content %}
{% csrf_token %}
<h2>전체 매장 주문 확인</h2>
<body>
	<table border = "1">
		<tr>
			<th>주문 ID</th>
			<th>점주 있나없나</th>
			<th>주문 매장명</th>
			<th>주문자 명</th>
			<th>주문 메뉴명</th>
			<th>주문 수량</th>
			<th>주문완료</th>
			<th>주문일시</th>
			<th>완료일시</th> 
		</tr>
		{% for o in odtos %}
		<tr>
			<td align="center">
				{{ o.ordr_id }} 	
			</td>
			<td align="center">
				{{ o.mdordrm__stor_m__stor__user__user_nick }} 	
			</td>
			<td align="center">
				{{ o.mdordrm__stor_m__stor__stor_name }} 	
			</td>
			<td align="center">
				{{ o.user__user_nick }} 	
			</td>
			<td align="center">
				{{ o.mdordrm__stor_m__stor_m_name }} 	
			</td>
			<td align="center">
				{{ o.mdordrm__ordr_num }} 	
			</td>
			<td>
				{% if o.ordr_com_ts %}
					<input class="inputbutton" type="button" value="주문 완료" disabled >
				{% else %}
					<input type="button" name="ordr_done" id="ordr_id_{{o.ordr_id}}" value="주문확인{{o.ordr_id}}" >
				{% endif %}
			</td>
			<td align="center">
				{{ o.ordr_ord_ts }} 	
			</td>
			<td align="center" id="td_id_{{o.ordr_id}}">
				{% if o.ordr_com_ts != None %}
					{{ o.ordr_com_ts }} 	
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>
</body>
{% endblock %}