{% extends "md_admin/base.html" %}
<body>
{%block content%}
<h2>회원관리</h2>
	<h2>가입회원 수:{{count}}</h2>
        <form class="d-flex" method="POST" action="{% url 'md_admin:search' %}">
        {%csrf_token%}   
            <input type="search" placeholder="Search" name="searched">
            <button type="submit"> Search </button>
        </form>	
	<table border = "1">
		<tr>
			<th style="width:7%"> 아이디 </th>
			<th style="width:7%"> 이름 </th>
			<th style="width:7%"> 회원등급 </th>
			<th style="width:7%"> 회원가입일 </th>
		</tr>
		<tbody id = "tbody">
		{%for user in users%}
			<tr>
				<td align = "center">
					<a href = "userinfo?id={{user.user_id}}">
						{{user.user_id}}
					</a>
				</td>
				<td align = "center">
					{{user.user_name}}
				</td>
				<td align = "center">
					{{user.user_g.user_g_name}}
				</td>
				<td align = "center">
					{{user.user_reg_ts|date:"Y-m-d H:i"}}
				</td>												
			</tr>
		{%endfor%}
			</tbody>
	</table>
{%endblock%}
