<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원정보</title>
</head>
<body>
<h2>회원상세정보</h2>
<form method = "post" action = "userinfo" name="userinfoform">
<input type ="hidden" name = "id" value = {{users.user_id}}>
	<table border = "1">
		<tr>
			<th colspan="2">회원정보</th>
		</tr>
		<tr>
			<th colspan="2"><img src="/media/{{dtos.user_img}}.jpg" width="50" height="50" name="img_d" border-radius="50%"><br>{{users.user_img}}</th>
		</tr>
		<tr>
			<td>아이디</td>
			<td>{{users.user_id}}</td>
		</tr>
		<tr>
			<td>이름</td>
			<td>{{users.user_name}}</td>
		</tr>
		<tr>
			<td>성별</td>
			<td>{{users.gen.gen_name}}</td>
		</tr>
		<tr>
			<td>닉네임</td>
			<td>{{users.user_nick}}</td>
		</tr>
		<tr>
			<td>생년월일</td>
			<td>{{users.user_bir}}</td>
		</tr>
		<tr>
			<td>회원가입일</td>
			<td>{{users.user_reg_ts|date:"Y-m-d"}}</td>
		</tr>
		{%if users.user_ext_ts == 2%}
			<tr>
				<td>회원정지일</td>
				<td>{{users.user_ext_ts|date:"Y-m-d"}}</td>	
			</tr>
		{%endif%}
		<tr>
			<td>회원등급</td>
			<td>
				<select name ="user_g">
					<option value = 1>일반
					<option value = 2>활동정지
					<option value = 3>탈퇴
					<option value = 6>점주
					<option value = 7>관리자	
					<option value = 9>개발자				
				</select>
			</td>
		<tr>
			<th colspan = "2">
				<input type = "submit" value = "수정">
				<input type = "button" value = "취소" onclick ="location='userlist'">
			</th>	
		</tr>											
	</table>
</form>	
</body>
</html>