<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원정보</title>
</head>
<body>

	<h2>현재 회원 수:{{count}}</h2>
	<table border = "1">
		<tr>
			<th style="width:7%"> 아이디 </th>
			<th style="width:7%"> 이름 </th>
			<th style="width:7%"> 회원등급 </th>
			<th style="width:7%"> 회원가입일 </th>
		</tr>
	{% if count == 0 %}
		<tr>
			<td colspan="6" align="center">
				게시판에 글이 없습니다. 글쓰기를 선택하세요
			</td>
		</tr>
	{%else%}
		{%for user in users%}
			<tr>
				<td align = "center">
					<a href = "userinfo?id={{user.user_id}}">
						{{user.user_id}}
					</a>
				</td>
				<td align = "center">
					{{user.user_name}}
				</td>
				<td align = "center">
					{{user.user_g.user_g_name}}
				</td>
				<td align = "center">
					{{user.user_reg_ts|date:"Y-m-d H:i"}}
				</td>												
			</tr>
		{%endfor%}
	{%endif%}		
	</table>

</body>
</html>