@charset "UTF-8";
.title {
	font-weight:bold;display:block;
	}
	
.rel-srch-words {
    z-index: 10;
    background-color: white;
    display: none;
    position: absolute;
    top: 140px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.rel-srch-words li:hover,
.rel-srch-words .selected {
    cursor: pointer;
    background-color: lightskyblue;
    color: white;
}

.rel-srch-words .active {
    background-color: lightskyblue;
    color: white;
}

.rel-srch-words ul {
    padding: 0;
    margin: 0;
}

.rel-srch-words li {
    list-style: none;
    padding-left: 10px;
}
