@charset "UTF-8";

div {
	vertical-align: middle;
}

.main_title {
    font-size: 24px;
	font-weight:bold;
    text-align: center;
    margin-bottom: 10px;
}

.main_area_search {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.search_input {
    width: 350px;
}

.content_upper {
    display: flex;
    justify-content: space-between;
}

.block-list {
    margin-bottom: 10px;
}

.list-title {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
}

.list-content {
    font-size: 12px;
    display: inline-block;
}

.list-item {
    width: 130px;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    display: inline-block;
}

.rel-srch-words {
    z-index: 10;
    background-color: white;
    display: none;
    position: absolute;
    top: 140px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.rel-srch-words li:hover,
.rel-srch-words .selected {
    cursor: pointer;
    background-color: lightskyblue;
    color: white;
}

.rel-srch-words .active {
    background-color: lightskyblue;
    color: white;
}

.rel-srch-words ul {
    padding: 0;
    margin: 0;
}

.rel-srch-words li {
    list-style: none;
    padding-left: 10px;
}

.main_recommend_img {
    width: 100px;
    height: 75px;
}

.main_search_result_item {
    width: 300px;
    font-size: 12px;
    display: inline-block;
}

.main_search_result_img {
    width: 100px;
    height: 75px;
}

 a:link { color:black; text-decoration: none;}
 a:visited { color: black; text-decoration: none;}
 a:hover { color: white; text-decoration: none;}

#container {
  width: 100%; 
  height: 450px; 
  overflow: hidden;
  margin: 0 auto;
}

.img {
  opacity: 0;
  width: 100%; 
  height: 450px;
  position: absolute;
  transition: opacity 1s ease-in-out;
}

.img.on {
  opacity: 1;
}

.search_input {
	position: relateive;
    border: 1px solid #bbb;
    border-radius: 25px;
    padding: 15px;
    font-size: 16px;
    outline: none; 
    background-color: #f2f2f2;
    width : 500px;
}

.search_icon {
	position : ralative;
    width: 45px;
    height: auto;
    cursor: pointer;
}

input[type="button"][name="differlocate"] {
  background-color :#f7d4b7;
  color: black;
  cursor: pointer;
  border: none;
  border-radius: 50px; 
  padding: 10px;
  display: block;
  margin: 0 auto;
 }

.text-overlay {
  position: absolute;
  top: 43%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px; 
  border-radius: 50px; 
  color: #000; 
  font-size: 16px; 
  text-align: center
}

.top {
  background-color:#ffab66;
  padding: 15px;
}

.navbar__menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 30px;
}

.colju{
  background-color:#ffab66;
  color: black; 
  cursor: pointer;
  border: none;
  padding: 10px;
 }

#kakaomap {
    position: absolute;
    left: -9999px; 
    top: -9999px;
}

.content{
 background-color:#f7d4b7;
}

.recomend {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.recomend h5 {
  margin-bottom: 10px;
  color: #000000;
}

.recomend .list-content {
  display: flex;
  flex-wrap: wrap;
}

.recomend .list-item {
  width: calc(20% - 20px); 
  margin: 10px;
  padding: 15px;
  background-color: #f7f2f2;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.recomend .list-item:hover {
  transform: scale(1.05);
}

.recomend .list-item img.main_recommend_img {
  max-width: 100%;
  height: 80px;
  margin-bottom: 10px;
}

<!---->

.recomenduser {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.recomenduser h5 {
  margin-bottom: 10px;
  color: #000000;
}

.recomenduser .list-content {
  display: flex;
  flex-wrap: wrap;
}

.recomenduser .list-item {
  width: calc(33.33% - 20px); 
  margin: 10px;
  margin: 10px auto;
  padding: 15px;
  background-color: #f7f2f2;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.recomenduser .list-item:hover {
  transform: scale(1.05);
}

.recomenduser .list-item img.main_recommend_img {
  max-width: 100%;
  height: 80px;
  margin-bottom: 10px;
}