@charset "UTF-8";

div {
	vertical-align: middle;
}

.main_title {
    font-size: 24px;
	font-weight:bold;
    text-align: center;
    margin-bottom: 10px;
}

.main_area_search {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.search_input {
    width: 350px;
}

.content_upper {
    display: flex;
    justify-content: space-between;
}

.block-list {
    margin-bottom: 10px;
}

.list-title {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
}

.list-content {
    font-size: 12px;
    display: inline-block;
}

.list-item {
    width: 130px;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    display: inline-block;
}

.rel-srch-words {
    z-index: 10;
    background-color: white;
    display: none;
    position: absolute;
    top: 140px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.rel-srch-words li:hover,
.rel-srch-words .selected {
    cursor: pointer;
    background-color: lightskyblue;
    color: white;
}

.rel-srch-words .active {
    background-color: lightskyblue;
    color: white;
}

.rel-srch-words ul {
    padding: 0;
    margin: 0;
}

.rel-srch-words li {
    list-style: none;
    padding-left: 10px;
}

.main_recommend_img {
    width: 100px;
    height: 75px;
}

.main_search_result {
    
}

.main_search_result_item {
    width: 300px;
    font-size: 12px;
    display: inline-block;
}

.main_search_result_img {
    width: 100px;
    height: 75px;
}