{% block title %}
<h2>이미지 업로드</h2>
{% endblock %}

{% block content %}
{% csrf_token %}
<form method="post" action="imagereg" enctype="multipart/form-data">
    <table>
        <tr>
            <th>이미지</th>
            <td><input class="input" type="file" name="imgreg" accept="image/*"></td>
        </tr>
        <tr>
            <th colspan="2">
                <input class="inputbutton" type="submit" value="전송">
                <input class="inputbutton" type="button" value="취소" onclick="location='store'">
            </th>
        </tr>
    </table>
</form>
{% endblock %}
