{% load static %}
<script src="{% static 'js/script_store.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/style_menuinfo.css' %}">
{% block title %} 
<head>
    <title>점주_메뉴관리</title>
    <h2> 점주_메뉴관리</h2>
</head>
{% endblock %}
{% block content %}
<!-- 확인용 발표 전 삭제 -->
cate : {{ cate }}
drnk_t : {{ drnk_t }}
dsrt_t : {{ dsrt_t }}
ice : {{ ice }} 
<form method="post" action="menuinfo" name="updateform" enctype="multipart/form-data">
<input type="hidden" name="stor_id" value="{{ stor_m_id }}">
{% csrf_token %}
	<table>
	    <tr>
	        <th colspan="3"> 메뉴관리 </th>
	    </tr>
	    <tr>
	        <th> 메뉴 이미지 </th>
	        <th colspan="2"> 메뉴 상세정보 </th>
	    </tr>
	    <tr>
	    	<tr>
	        	<td rowspan="10"><img src="/media/{{ stor_m_img }}" width="300" height="300"></td>
	        </tr>
	    </tr>
	    <tr>
	        <th rowspan="7">
	            <img id="imgmenuinfoPreview" src="#" alt="Image Preview" style="max-width: 300px; max-height: 300px; display: none;">
	        </th>
	    </tr>
	    <tr>
	        <th>메뉴명</th>
	         <td colspan="2">
		        <input class="input" type="text" name="menuname" maxlength="20" style="width:250px" value="{{ stor_m_name }}" onclick="clearInput(this)">
		    </td>
	    </tr>
	    <tr>
            <th>메뉴타입</th>
            <td>
                <select name="menutype" class="input">
                    <option value="0">일반</option>
                    <option value="1">시그니처</option>
                </select>
            </td>
        </tr>
        <tr>
            <th rowspan="3"> 카테고리</th>
				<td>
				    <select name="cate" id="cate" class="input" onchange="handleCateChange()">
				    	<option value="1">==선택1==</option>
				        <option value="0">디저트</option>
				        <option value="-1">음료</option>
				    </select>
				</td>
				<tr>
					<td>
					    <select name="typedsrt" id="typedsrt" class="input" style="display: none;">
					        <option value="9">==선택2==</option>
					        <option value="0">빵</option>
					        <option value="1">푸딩</option>
					        <option value="2">케이크</option>
					        <option value="3">파이</option>
					        <option value="4">아이스크림</option>
					        <option value="5">초콜릿</option>
					        <option value="6">쿠키</option>
					    </select>
					    <select name="typedrnk" id="typedrnk" class="input" style="display: none;">
					    	<option value="9">==선택2==</option>
					        <option value="0">스무디</option>
					        <option value="1">쉐이크</option>
					        <option value="2">에이드</option>
					        <option value="3">밀크티</option>
					        <option value="4">커피</option>
					        <option value="5">차</option>
					        <option value="6">주스</option>
					        <option value="7">디카페인</option>
					        <option value="8">기타</option>
					    </select>
					</td>
				</tr>
				<tr>
					<td>
					    <select name="ice" id="ice" class="input" style="display: none;">
					    	<option value="9">==선택3==</option>
	                        <option value="0"> ICE </option>
	                        <option value="1"> HOT </option>
                    	</select>
					</td>
				</tr>
		 </tr>
		 <tr>
	        <th>가격</th>
	        <td colspan="2">
		        <input class="input" type="text" name="menupric" maxlength="20" style="width:250px" value="{{ stor_m_pric }}" onclick="clearInput(this)">
		    </td>
	    </tr>
	    <tr>
	        <th>칼로리</th>
	        <td colspan="2">
		        <input class="input" type="text" name="menukcal" maxlength="20" style="width:250px" value="{{ stor_m_cal }}" onclick="clearInput(this)">
		    </td>
	    </tr>
	   <tr>
		    <th rowspan="2"> 알러지 </th>
		    <td>
		        <label><input type="checkbox" name="algy[]" value="0"> 계란</label>
		        <label><input type="checkbox" name="algy[]" value="1"> 우유</label>
		        <label><input type="checkbox" name="algy[]" value="2"> 땅콩</label>
		        <label><input type="checkbox" name="algy[]" value="3"> 대두</label>
		        <label><input type="checkbox" name="algy[]" value="4"> 밀</label>
		        <label><input type="checkbox" name="algy[]" value="5"> 새우</label>
		    </td>
		    <tr>
				<td>
			    	<label><input type="checkbox" name="algy[]" value="6"> 돼지고기</label>
			        <label><input type="checkbox" name="algy[]" value="7"> 복숭아</label>
			        <label><input type="checkbox" name="algy[]" value="8"> 토마토</label>
			        <label><input type="checkbox" name="algy[]" value="9"> 아황산류</label>
			        <label><input type="checkbox" name="algy[]" value="10"> 호두</label>
			        <label><input type="checkbox" name="algy[]" value="11"> 닭고기</label>
			        <label><input type="checkbox" name="algy[]" value="12"> 쇠고기</label>
		        </td>
		     </tr>
		</tr>
	    <tr>
	        <th> 메뉴 소개 </th>
	        <td colspan="2"> 
	        	<input class="input" type="text" name="menuinfo" maxlength="20" style="width:500px" value="{{ stor_m_info }}" onclick="clearInput(this)">
	        </td>
	    </tr>
	    <tr>
	        <th colspan="3">
	        	<input class="input" type="file" name="imgmenuinfo" accept="image/*" id="imgmenuinfoInput">
	        	<input class="inputbutton" type="submit" value="수정">
	            <input class="inputbutton" type="reset" value="취소" onclick="location='menulist'">	
	        </th>
	    </tr>
	</table>
</form>

<script>
//페이지가 로드될 때 실행되는 함수인데 js로 빼놓으면 동작을 안해서 우선 여기 포함시켰습니다.
document.addEventListener("DOMContentLoaded", function() {
    var cateSelect = document.getElementById("cate");
    var dsrtSelect = document.getElementById("typedsrt");
    var drnkSelect = document.getElementById("typedrnk");
    var iceSelect = document.getElementById("ice");
    
    var cate = "{{ cate }}"; 
    var dsrt_t = "{{ dsrt_t }}";
    var drnk_t = "{{ drnk_t }}";
    var ice = "{{ ice }}";

    cateSelect.value = cate;
    dsrtSelect.value = dsrt_t;
    drnkSelect.value = drnk_t;
    iceSelect.value = ice;

    handleCateChange();

    cateSelect.addEventListener("change", handleCateChange);
  });

    function readImageFile(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                var imgPreview = document.getElementById('imgmenuinfoPreview');
                imgPreview.src = e.target.result;
                imgPreview.style.display = 'inline-block'; // 이미지 미리보기를 보이도록 설정
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    document.getElementById('imgmenuinfoInput').addEventListener('change', function() {
        readImageFile(this);
    });
</script>
{% endblock %}