{% load static %}
{% block title %} <h2> 점주_마이페이지 </h2> {% endblock %}

{% block content %}
<table>
    <tr>
        <th colspan="3">
           메뉴정보관리
        </th>
    </tr>
    <tr>
        <th rowspan="6"><img src="{% static 'images/s_barchich_br.PNG' %}"></th>
    </tr>
    <tr>
        <th>메뉴명</th>
        <td colspan="2">&nbsp;{{ dto.stor_name }}</td>
    </tr>
    <tr>
        <th>메뉴유형</th>
        <td colspan="2">&nbsp;{{ stor_type }}</td>
    </tr>
    <tr>
        <th>가격</th>
        <td colspan="2">&nbsp;{{ dto.stor_addr }}</td>
    </tr>
    <tr>
        <th>칼로리</th>
        <td colspan="2">&nbsp;<input class="input" type="tel" name="tel" maxlength="50" value="{{ dto.stor_tel }}"></td>
    </tr>
    <tr>
        <th>알러지</th>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <th colspan="3">
            <input class="inputbutton" type="submit" value="수정">
            <input class="inputbutton" type="reset" value="취소">
            <input class="inputbutton" type="button" value="수정취소">
        </th>
    </tr>
</table>
{% endblock %}
