<head>
    <title>점주_메뉴관리</title>
    <h2> 점주_메뉴관리</h2>
</head>
{% extends "md_member/base.html"%}
{% block content %}
<form method="post" action="{% url 'md_store:menuinfo' %}" name="updateform" enctype="multipart/form-data">
    <input type="hidden" name="stor_id" value="{{ stor_id }}"> 
    <input type="hidden" name="stor_m_id" value="{{ stor_m_id }}"> 
    <input type="hidden" name="menu_id" value="{{ dto.menu_id }}">
    {% csrf_token %}
	<table>
	    <tr>
	        <th colspan="4"> 메뉴관리 </th>
	    </tr>
	    <tr>
	        <th> 메뉴 이미지 </th>
            <th colspan="4"> 메뉴 상세정보 </th>
        </tr>
        <tr>
            <td rowspan="12"><img src="/media/{{ stor_m_img }}" width="300" height="300"></td>
        </tr>
        <tr>
            <th rowspan="12">
                <img id="imgmenuinfoPreview" src="#" alt="Image Preview" style="max-width: 300px; max-height: 300px; display: none;">
            </th>
	    </tr>
        <tr>
            <th>메뉴명</th>
            <td colspan="2">
                {{stor_m_name}}
            </td>
        </tr>
        <tr>
            <th>메뉴타입</th>
            <td>
                <select name="menutype" class="input">
                	{% if dto.menu_t_id == 0 %}
                    	<option value="0" selected>일반</option>
                    	<option value="1" >시그니처</option>
                    {% else %}
                    	<option value="0">일반</option>
	                    <option value="1" selected>시그니처</option>
	                   {% endif %}
                </select>
            </td>
        </tr>
        <tr>
            <th>가격</th>
            <td colspan="2">
                <input class="input" type="text" name="menupric" maxlength="20" style="width:250px" value="{{ stor_m_pric }}" onclick="clearInput(this)">
            </td>
        </tr>
        <tr>
            <th>칼로리</th>
            <td colspan="2">
                <input class="input" type="text" name="menukcal" maxlength="20" style="width:250px" value="{{ stor_m_cal }}" onclick="clearInput(this)">
            </td>
        </tr>
			<tr>
				<th> 알러지 정보 </th>
				<td>
					{% for algy in md_algy_t %}
						<input type="checkbox" name="md_algy_t" value="{{algy.algy_t_id}}">{{algy.algy_t_name }}
						{% for mal in m_algy %}
							{% if mal.algy_t_id == algy.algy_t_id %}
								<script>
								$('input[name="md_algy_t"][value={{algy.algy_t_id}}]').attr("checked", true)
								</script>
							{% endif %}
						{% endfor %}
					{% endfor %}
					<hr>
				</td>
			</tr>
            <th> 메뉴 소개 </th>
            <td colspan="2"> 
                <input class="input" type="text" name="menuinfo" maxlength="20" style="width:1000px" value="{{ stor_m_info }}" onclick="clearInput(this)">
            </td>
        </tr>
        <tr>
            <th colspan="3">
                <input class="input" type="file" name="imgmenuinfo" accept="image/*" id="imgmenuinfoInput">
                <input class="inputbutton" type="submit" value="수정" onclick="location.href='/md_store/menuinfo?stor_m_id={{menu.stor_m_id}}'">
                <input class="inputbutton" type="reset" value="취소" onclick="location.href='/md_store/menulist?stor_id={{stor_id}}'">
        </tr>
    </table>
</form>

<script>
//페이지가 로드될 때 실행되는 함수인데 js로 빼놓으면 동작을 안해서 우선 여기 포함시켰습니다.
/*document.addEventListener("DOMContentLoaded", function() {
    var cateSelect = document.getElementById("cate");
    var dsrtSelect = document.getElementById("typedsrt");
    var drnkSelect = document.getElementById("typedrnk");
    var iceSelect = document.getElementById("ice");
    
    var cate = "{{ cate }}"; 
    var dsrt_t = "{{ dsrt_t }}";
    var drnk_t = "{{ drnk_t }}";
    var ice = "{{ ice }}";

    cateSelect.value = cate;
    dsrtSelect.value = dsrt_t;
    drnkSelect.value = drnk_t;
    iceSelect.value = ice;

    handleCateChange();

    cateSelect.addEventListener("change", handleCateChange);
});
*/
function readImageFile(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
            var imgPreview = document.getElementById('imgmenuinfoPreview');
            imgPreview.src = e.target.result;
            imgPreview.style.display = 'inline-block'; // 이미지 미리보기를 보이도록 설정
        };

        reader.readAsDataURL(input.files[0]);
    }
}

document.getElementById('imgmenuinfoInput').addEventListener('change', function() {
    readImageFile(this);
});
</script>
{% endblock %}
