{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_ordr.css' %}">
<html>
<head>
    <title>메뉴 목록</title>
</head>
<body>
    <h1>메뉴 목록</h1>
    {% if menu_list %}
    <table>
        <tr>
         	<th>메뉴 이미지</th>
            <th>메뉴 이름</th>
            <th>가격</th>
            <th>칼로리</th>
            <th>메뉴 소개</th>
           
            <th>메뉴 타입</th>
        </tr>
        {% for menu in menu_list %}
        <tr>
        	 <td>
               <a href="http://localhost:8000/md_order/orderinfo?stor_m_id={{ menu.stor_m_id }}">
                    <img src="/media/images/{{ menu.stor_m_img }}.png" width="300" height="300">
                </a>
            </td>
            <td>{{ menu.menu.menu_name }}</td>
            <td>{{ menu.stor_m_pric }}</td>
            <td>{{ menu.stor_m_cal }}</td>
            <td>{{ menu.menu.menu_info }}</td>
            
            <td>{{ menu.menu_t.menu_t_name }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>해당 매장의 메뉴가 없습니다.</p>
    {% endif %}

</body>
</html>
