{% load static %}
{% block title %} 
<head>
    <title>점주_메뉴관리</title>
    <h2> 점주_메뉴관리</h2>
</head>
{% endblock %}
{% block content %}
<!-- 확인용 발표 전 삭제 -->
<form method="post" action="menuinfo" name="updateform">
	<table>
	    <tr>
	        <th colspan="3">
	            메뉴관리
	        </th>
	    </tr>
	    <tr>
	        <th rowspan="6"><img src="/media/{{ stor_m_img }}" width="300" height="300"></th>
	    </tr>
	    <tr>
	        <th>메뉴명</th>
	        <td>&nbsp;{{ stor_m_name }}</td>
	    </tr>
	    <tr>
	        <th>메뉴유형</th>
	        <td>&nbsp;{{ menu_type }}</td>
	    </tr>
	    <tr>
	        <th>칼로리</th>
	        <td>&nbsp;{{ stor_m_cal }}</td>
	    </tr>
	    <tr>
	        <th>가격</th>
	        <td>&nbsp;{{ stor_m_pric }}</td>
	    </tr>
	    <tr>
	        <th colspan="3">&nbsp;</th>
	    </tr>
	    <tr>
	        <th colspan="3"> 메뉴 소개 </th>
	    </tr>
	    <tr>
	        <th colspan="3"> &nbsp;{{ stor_m_info }}</th>
	    </tr>
	     <tr>
	        <th colspan="3">&nbsp;</th>
	    </tr>
	    <tr>
	        <th colspan="3">
	        	<!-- view작성하고 input으로 변경 -->
	        	<button type="button">메뉴이미지 수정</button>	
	        	<button type="button">수정</button>
	            <input class="inputbutton" type="reset" value="취소" onclick="location='menulist'">	
	        </th>
	    </tr>
	</table>
</form>
{% endblock %}