<title>점주_마이페이지_메인</title>
{% extends "md_member/base.html"%}
{%block content%}
<h2>점주_마이페이지_메인</h2>
	<table>
		<tr>
			<td>{{ user_name }} 점주님 안녕하세요</td>
	    </tr>
	    <tr>
	    	<form method="GET" action="/md_store/menulist">
			    <input type="hidden" name="stor_id" value="{{ stor_id }}">
			    <button type="submit">메뉴관리</button>
			</form>
			
			<form method="GET" action="/md_store/store">
			    <input type="hidden" name="stor_id" value="{{ stor_id }}">
			    <button type="submit">매장관리</button>
			</form>
			
			<form method="GET" action="/md_order/orderlist">
			    <input type="hidden" name="stor_id" value="{{ stor_id }}">
			    <button type="submit">주문관리</button>
			</form>
			
			<form method="GET" action="/md_review/review">
			    <input type="hidden" name="stor_id" value="{{ stor_id }}">
			    <button type="submit">리뷰관리</button>
			</form>
	    </tr>	
    </table>
{%endblock%}
<script>
function redirectToReview() {
    // 리뷰관리 페이지로 이동
    window.location.href = "/md_review/review";
}
</script>
