{% load static %}
{% block title %} 
<title>사용자_매장정보</title>
{% endblock %}
{% block content %}
<h2>사용자_매장정보</h2>
<form method="post" action="storeuser" name="updateform">
	<input type="hidden" name="stor_id" value="{{ stor_id }}">

	<table>
	    <tr>
	        <th colspan="3">
	            매장정보
	        </th>
	    </tr>
	    <tr>
	        <th rowspan="7"><img src="/media/{{ stor_img }}" width="300" height="300"></th>
	    </tr>
	    <tr>
	        <th>매장명</th>
	        <td colspan="2">&nbsp;{{ dto.stor_name }}</td>
	    </tr>
	    <tr>
         	<th>점주</th>
         	<td> {{ user_ids }}</td>
        </tr>
	    <tr>
	        <th>매장유형</th>
	        <td colspan="2">&nbsp;{{ stor_type }}</td>
	    </tr>
	    <tr>
	        <th>주소</th>
	        <td colspan="2">&nbsp;{{ dto.stor_addr }}</td>
	    </tr>
	    <tr>
		    <th>연락처</th>
		    <td colspan="2">&nbsp;{{ stor_tel }}</td>
		    </td>
		</tr>
	    <tr>
	        <th>매장인기시간대</th>
	        <td colspan="2">&nbsp;</td>
	    </tr>
	    <tr>
	        <th colspan="3">
	        	<input class="inputbutton" type="button" value="점주등록"
						onclick="location='addjumju'">					
	        </th>
	    </tr>
	</table>
	
</form>

{% endblock %}