<title>사용자_매장정보</title>
{% extends "md_main/base2.html" %}

{% block content %}
{% csrf_token %}
<h2>사용자_매장정보</h2>
<form method="post" action="storeuser" name="updateform">
	<input type="hidden" name="stor_id" value="{{ stor_id }}">
	<input type="hidden" name="user_id" value="{{ user_id }}">

	<table border = "1">
	    <tr>
	        <th colspan = "2">매장정보</th>
	        <th align = "right">
	        	<form method="post" action="addfav"name="addfavform">
					<input type="hidden" name="stor_id" value="{{stor_id}}">
						{% if result == 0 %}
							<input type="button" name="addfavbtn" value="즐겨찾기 등록">
						{% else %}
							<input type="button" name="addfavbtn" value="즐겨찾기 취소">
						{% endif %}
				</form>
	        </th>
	    </tr>
	    <tr>
	        <th rowspan="7"><img src="/media/{{ stor_img }}" width="100" height="75" ></th>
	    </tr>
	    <tr>
	        <th>매장명</th>
	        <td colspan="2">&nbsp;{{ dto.stor_name }}</td>
	    </tr>
	    <tr>
         	<th>점주</th>
         	<td> {{ user_ids }}</td>
        </tr>
	    <tr>
	        <th>매장유형</th>
	        <td colspan="2">&nbsp;{{ stor_type }}</td>
	    </tr>
	    <tr>
	        <th>주소</th>
	        <td colspan="2">&nbsp;{{ dto.stor_addr }}</td>
	    </tr>
	    <tr>
		    <th>연락처</th>
		    <td colspan="2">&nbsp;{{ stor_tel }}</td>
		    </td>
		</tr>
	    <tr>
	    	<th>
	        	{% if gid == 1 %}
	        	<input class="inputbutton" type="button" value="점주등록" onclick="location='/md_store/addjumju?stor_id={{stor_id}}'">
				{% endif %}
	        </th>
	        	<th colspan = "2">
		        	<input type="button" name="reviewgo" value="매장 리뷰 보기" onclick="location='/md_review/review?stor_id={{stor_id}}'">
	        	</th>
	    </tr>
	</table>

	<h1>메뉴 목록</h1>
	    {% if menu_list %}
	    <table border = 1>
	        <tr>
	         	<th>메뉴 이미지</th>
	            <th>메뉴 이름</th>
	            <th>가격</th>
	            <th>칼로리</th>
	            <th>메뉴 소개</th>           
	            <th>메뉴 타입</th>
	        </tr>
	        {% for menu in menu_list %}
	        <tr>
	        	<th>
	               <img src="/media/{{ menu.stor_m_img }}" width="100" height="75" onclick="location.href='/md_order/orderinfo?stor_id={{stor_id}}&stor_m_id={{menu.stor_m_id}}'">
	            </th>
	            <th>{{ menu.stor_m_name }}</th>
	            <th>{{ menu.stor_m_pric }}원</th>
	            <th>{{ menu.stor_m_cal }}kcal</th>
	            <th>{{ menu.menu.menu_info }}</th>    
	            <th>{{ menu.menu_t.menu_t_name }}</th>
	        </tr>
	        {% endfor %}
	    </table>
	    {% else %}
	    <p>해당 매장의 메뉴가 없습니다.</p>
	    {% endif %}
</form>

{% endblock %}