{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_menulist.css' %}">
<script src = "{%static 'js/jquery-3.6.4.js'%}"></script>
<script src = "{%static 'js/script_favorite.js'%}"></script>
{% block title %} 
<title>사용자_매장정보</title>
{% endblock %}
{% block content %}
{% csrf_token %}
<h2>사용자_매장정보</h2>
{{stor_id}}
{{memid }}
<form method="post" action="addfav"name="addfavform">
	<input type="hidden" name="stor_id" value="{{stor_id}}"><!-- 수정 -->
	{% if result == 0 %}
		<input type="button" name="addfavbtn" value="즐겨찾기 등록">
	{% else %}
		<input type="button" name="addfavbtn" value="즐겨찾기 취소">
	{% endif %}
</form>
<form method="post" action="storeuser" name="updateform">
	<input type="hidden" name="stor_id" value="{{ stor_id }}">

	<table>
	    <tr>
	        <th>매장정보</th>
	        <th>
	        	<input class="inputbutton" type="button" value="점주등록"
						onclick="location='/md_store/addjumju?stor_id={{stor_id}}'">					
	        </th>
	        <th>
	        	<input type="button" name="reviewgo" value="리뷰 보기"
	        		onclick="location='/md_review/review?stor_id={{stor_id}}'">
	        </th>
	    </tr>
	    <tr>
	        <th rowspan="7"><img src="/media/{{ stor_img }}" width="300" height="300" ></th>
	    </tr>
	    <tr>
	        <th>매장명</th>
	        <td colspan="2">&nbsp;{{ dto.stor_name }}</td>
	    </tr>
	    <tr>
         	<th>점주</th>
         	<td> {{ user_ids }}</td>
        </tr>
	    <tr>
	        <th>매장유형</th>
	        <td colspan="2">&nbsp;{{ stor_type }}</td>
	    </tr>
	    <tr>
	        <th>주소</th>
	        <td colspan="2">&nbsp;{{ dto.stor_addr }}</td>
	    </tr>
	    <tr>
		    <th>연락처</th>
		    <td colspan="2">&nbsp;{{ stor_tel }}</td>
		    </td>
		</tr>
	    <tr>
	        <th>매장인기시간대</th>
	        <td colspan="2">&nbsp;</td>
	    </tr>
	    	</table>
	<h1>메뉴 목록</h1>
	    {% if menu_list %}
	    <table>
	        <tr>
	         	<th>메뉴 이미지</th>
	            <th>메뉴 이름</th>
	            <th>가격</th>
	            <th>칼로리</th>
	            <th>메뉴 소개</th>
	           
	            <th>메뉴 타입</th>
	        </tr>
	        {% for menu in menu_list %}
	        <tr>
	        	<td>
	               <img src="/media/{{ menu.stor_m_img }}" width="300" height="300" onclick="location.href='/md_order/orderinfo?stor_m_id={{menu.stor_m_id}}'">
	            </td>
	            <td>{{ menu.stor_m_name }}</td>
	            <td>{{ menu.stor_m_pric }}</td>
	            <td>{{ menu.stor_m_cal }}</td>
	            <td>{{ menu.menu.menu_info }}</td>
	            
	            <td>{{ menu.menu_t.menu_t_name }}</td>
	        </tr>
	        {% endfor %}
	    </table>
	    {% else %}
	    <p>해당 매장의 메뉴가 없습니다.</p>
	    {% endif %}
	
</form>

{% endblock %}