{% extends "md_member/base.html"%}
{% block content %}
{% csrf_token %}
<form method="post" action="store" name="storeform" enctype="multipart/form-data">
  <input type="hidden" name="stor_id" value="{{ stor_id }}">
  <input type="hidden" name="stor_img" value="{{ stor.stor_img }}">
	<table border = "1">
	    <tr>
	        <th colspan="4">
	            매장정보관리
	        </th>
	    </tr>
	    <tr>
	       	<th rowspan="7"> 
	       		<img src="/media/{{ stor.stor_img }}" width="300" height="300" onerror="this.onerror=null; this.src='/media/no_image.png';"> 
				<input class="input" type="file" name="Nstor_img" accept="image/*"  onchange="readURL(this);">	       		
	       		<img id="preview" style="width:150px;">
				<script>
					function readURL(input) {
						if (input.files && input.files[0]) {
						    var reader = new FileReader();
						    reader.onload = function(e) {
						      document.getElementById('preview').src = e.target.result;
						    };
						    reader.readAsDataURL(input.files[0]);
						  } else {
						    document.getElementById('preview').src = "";
						  }
						}
				</script>
	       	</th>
	    </tr>
	    <tr>
	        <th>매장명</th>
	        <td colspan="2">&nbsp;{{ stor.stor_name }}</td>
	    </tr>
	    <tr>
         	<th>점주</th>
         	<td> {{ stor.user_id }}</td>
        </tr>
	    <tr>
	        <th>매장유형</th>
	        <td colspan="2">&nbsp;{{ stor_type }}</td>
	    </tr>
	    <tr>
	        <th>주소</th>
	        <td colspan="2">&nbsp;{{ stor.stor_addr }}</td>
	    </tr>
	    <tr>
		    <th>연락처</th>
		    <td colspan="2">
		        <input class="input" type="text" name="stor_tel" maxlength="20" style="width:250px" value="{{ stor.stor_tel }}">
		    </td>
		</tr>
	    <tr>
	    	<th colspan = "4">
	    		<input class="inputbutton" type="submit" value="수정">
	        	<input class="inputbutton" type="reset" value="취소" onclick="location='mypagejumju'">
	        </th>
	    </tr>
	</table>
</form>
{% endblock %}