{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Maddi</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style_main.css' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<script type="text/javascript" src="{% static 'js/jquery-3.6.4.js' %}"></script>
		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3dc8348a47c6ca7030528334a83b33b0&libraries=services"></script>
		<script type="text/javascript" src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<script type="text/javascript" src="{% static 'js/script_main.js' %}"></script>
	</head>
	<style>
	  /* 메뉴 리스트 스타일 */
	  .menu-list {
	    list-style: none;
	    padding: 0;
	    margin: 0;
	    display: inline; /* 가로로 배치 */
	  }
	
	  /* 메뉴 아이템 스타일 */
	  .menu-item {
	    display: inline-block; /* 가로로 배치 */
	    margin-right: 20px; /* 메뉴 간격 */
	  }
	
	  /* 공통된 메뉴 링크 스타일 */
	  .menu-link {
	    font-size: 16px; /* 기본 폰트 크기 */
	    text-decoration: none;
	  }
	
	  /* 반응형 폰트 크기 조절 */
	  @media (max-width: 768px) {
	    .menu-link {
	      font-size: 14px;
	    }
	  }
	</style>
	
	<body>
		<!-- 로고 -->
		<div class="logo">
			<div class="col-md-12 mt-3"></div>
			<div class="row">
				<div class="col" style="text-align:center;"><a href="/md_main/main"><img src="/media/logo.png" width="10%;" height="auto;"></a></div>
			</div>
			<div class="col-md-12 mt-3"></div>
		</div>
		
		<!-- nav -->
		{% block header %}
			<div class="topbar">
				<div class="top" style="text-align:center;">
					{% if memid %}
							{% if gid == 1 %}
								<li class="menu-item"><a class="menu-link" href="/md_combi/comblist">추천조합</a></li>
								<li class="menu-item">|</li>
								<li class="menu-item"><a class="menu-link" href="/md_member/userinfo">마이페이지</a></li>
								<li class="menu-item">|</li>
								<li class="menu-item"><a class="menu-link" href="/md_favorite/favorite">즐겨찾기</a></li>
								<li class="menu-item">|</li>
								<li class="menu-item"><a class="menu-link" href="/md_order/buck">장바구니</a></li>
								<li class="menu-item">|</li>
								<li class="menu-item"><a class="menu-link" href="/md_member/myorderlist">나의주문</a></li>
								<li class="menu-item">|</li>
								<li class="menu-item"><a class="menu-link" href="/md_member/logout">로그아웃</a></li>
							{% elif gid == 6 %}
								<li class="menu-item"><a class="menu-link" href="/md_combi/comblist">추천조합</a></li>
								<li class="menu-item">|</li>
								<li class="menu-item"><a class="menu-link" href="/md_member/userinfo">마이페이지</a></li>
								<li class="menu-item">|</li>
								<li class="menu-item"><a class="menu-link" href="/md_store/mypagejumju">점주페이지</a></li>
								<li class="menu-item">|</li>
								<li class="menu-item"><a class="menu-link" href="/md_favorite/favorite">즐겨찾기</a></li>
								<li class="menu-item">|</li>
								<li class="menu-item"><a class="menu-link" href="/md_order/buck">장바구니</a></li>
								<li class="menu-item">|</li>
								<li class="menu-item"><a class="menu-link" href="/md_member/myorderlist">나의주문</a></li>
								<li class="menu-item">|</li>
								<li class="menu-item"><a class="menu-link" href="/md_member/logout">로그아웃</a></li>
							{% elif gid == 7 %}
								<li class="menu-item"><a class="menu-link" href="/md_combi/comblist">추천조합</a></li>
								<li class="menu-item">|</li>
								<li class="menu-item"><a class="menu-link" href="/md_member/userinfo">마이페이지</a></li>
								<li class="menu-item">|</li>
								<li class="menu-item"><a class="menu-link" href="/md_admin/userlist">관리자페이지</a></li>
								<li class="menu-item">|</li>
								<li class="menu-item"><a class="menu-link" href="/md_favorite/favorite">즐겨찾기</a></li>
								<li class="menu-item">|</li>
								<li class="menu-item"><a class="menu-link" href="/md_order/buck">장바구니</a></li>
								<li class="menu-item">|</li>
								<li class="menu-item"><a class="menu-link" href="/md_member/myorderlist">나의주문</a></li>
								<li class="menu-item">|</li>
								<li class="menu-item"><a class="menu-link" href="/md_member/logout">로그아웃</a></li>
							{% endif %}
						{% else %}
								<li class="menu-item"><a class="menu-link" href="/md_combi/comblist">추천조합</a></li>
								<li class="menu-item">|</li>
								<li class="menu-item"><a class="menu-link" href="/md_member/login">로그인</a></li>
								<li class="menu-item">|</li>
								<li class="menu-item"><a class="menu-link" href="/md_member/input">회원가입</a></li>
						{% endif %}
				</div>
			</div>
		{% endblock %}
		
		<!-- 내용 -->
		{% block content %}		
		{% endblock %}
		
		<!-- footer -->
		{% block footer %}
			<footer class="footer">
				<hr>
				<p>Copyright <b>Maddi(이하맛디)</b> Inc. All Rights Reserved</p>
			</footer>
		{% endblock %}
	</body>
</html>