{% extends "md_main/base.html"%}

{%block recommend%}
{% if memid %}
<div class = "block-list">
	<div class="list-title">{{user_name}} 고객님을 위한 맞춤 메뉴</div>
	<span style="text-align: center;">
		업데이트 중입니다.
	</span>
</div>
{% endif%}

<div class = "block-list">
	<div class="list-title">추천 음료</div>
	{% for tdto in tdtos %}
		{{tdto.stor_m__menu__menu_img}}<br>
		<a>{{tdto.stor_m__menu__menu_name}}</a><br>
	{% endfor %}
</div>

<div class = "block-list">
	<div class="list-title">추천 디저트</div>
	{% for ddto in ddtos %}
		{{ddto.stor_m__menu__menu_img}}<br>
		<a>{{ddto.stor_m__menu__menu_name}}</a><br>
	{% endfor %}
</div>
 
<div class = "block-list">
	<div class="list-title">추천 조합</div>
	{%for comb_id, comb_info in rdtos.items%}
		{% if comb_info.comb_img %}
			{{comb_info.comb_img.url}}<br>
		{% endif %}
		{% for menu in comb_info.menu_names %}
			{{menu}}&nbsp;
		{% endfor %}
		<br>
		{{comb_info.comb_tit}}<br><br>
	{%endfor%}	
</div>	
{%endblock%}

{% block content_lower %}
<div class="main_search_result">
</div>
{% endblock %}