<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Maddi</title>
</head>
<body>
	{% block header %}
	<div style="text-align: left;">
    	<button type="button" onclick="location.href='/md_member/myorderlist'">주문관리</button>
    	<button type="button" onclick="location.href='/md_order/buck'">장바구니</button>
	</div>
	<div style="text-align: right;">
		{% if memid %}
		<a href="/md_combi/comblist">추천조합</a>&nbsp;&nbsp;&nbsp;
		<a href="/md_member/userinfo">마이페이지</a>&nbsp;&nbsp;&nbsp;
			{% if gid == 6 %}
			<a href="/md_store/mypagejumju">점주 마이페이지</a>&nbsp;&nbsp;&nbsp;
			{% endif %}
		<input type="button" value="logout" onclick="location='/md_member/logout'">
		{% else %}
		<input type="button" value="login" onclick="location='/md_member/login'">
		{% endif %}
	</div>
	{% endblock %}
<br><br>
		{% block content %}
		
		
		{% endblock %}
	</body>
</html>
