{% extends "md_main/base2.html" %}
{% block content %}
{% csrf_token %}
<body>
    <h1>주문 목록</h1>
       <table border = "1">
        <tr>
            <th>주문 ID</th>
            <th>주문자 명</th>
            <th>주문 메뉴명</th>
            <th>주문 수량</th>
            <th>주문 완료</th>
            <th>주문 일시</th>
            <th>완료 일시</th> 
        </tr>
        {% if count == 0 %}
        	<tr>
        		<td colspan="7" align="center">
        			<pre>현재 주문된 내역이 없습니다</pre>
        		</td>
        	</tr>
        {% else %}
	        {% for k, v in ordr_l.items %}
	        	<tr>
	        		<td align="center">
	        			{{ k }} 	
	        		</td>
	        		<td align="center">
	        			{{ v.user_name }} 	
	        		</td>
	        		<td align="center">
	        			{% for name in v.menu_name %}
	        				{{ name }} 	<br>
	        			{% endfor %}
	        		</td>
	        		<td align="center">
	        			{% for num in v.ordr_num %}
	        				{{ num }} 	<br>
	        			{% endfor %} 	
	        		</td>
	        		<td>
	        			{% if v.com_ts == None %}
		            	    <input type="button" name="ordr_suc" id="sordr_id_{{k}}" value="주문확인{{k}}" >
		            	{% endif %}
		            </td>
	        		<td align="center">
	        			{{ v.ordr_ts }} 	
	        		</td>
	        		<td align="center" id="td_id_{{k}}">
	        		</td>
	        	</tr>
	        {% endfor %}
		{% endif %}
	</table>
</body>
{%endblock%}
