{% load static %}
<html>
<head>
    <title>점주_주문확인페이지</title>
</head>
<body>
    <h2>점주</h2>
    <h3>주문 내역</h3>
    <table>
    	<tr>
            <img src="{% static 'image/alert.jpg' %}" width="50" height="40">
        </tr>
        <tr>
		    <td style="width: 100px">주문번호</td>
		    <td style="width: 100px">주문자명</td>
		    <td style="width: 100px">주문내역</td>
		    <td style="width: 100px">결제금액</td>
		    <td style="width: 100px">주문상태</td>
		    <td style="width: 100px">주문완료</td>
		</tr>
        <tr>
            <td style="width: 100px">{{ordr_id}}</td>
		    <td style="width: 100px">{{user_nick}}</td>
		    <td style="width: 100px">주문내역</td>
		    <td style="width: 100px">결제금액</td>
		    <td style="width: 100px">주문상태</td>
		    <td style="width: 100px">주문완료</td>
        </tr>
    </table>
</body>
</html>
