<html>
<head>
    <title>주문 목록</title>
</head>
{% extends "md_member/base.html"%}
{%block content%}
<body>
    <h1>주문 목록</h1>
    <input type="hidden" name="stor_m_id" value="{{ dto.stor_m_id }}">
       <table border = "1">
        <tr>
            <th>주문 ID</th>
            <th>주문자명</th>
            <th>주문 수량</th>
            <th>주문 메뉴명</th>
            <th>주문완료</th>
            <th>주문일시</th>
            <th>완료일시</th> 
        </tr>
        {% for o in odtos %}
        	<tr>
        		<td align="center">
        			{{ o.ordr_id }} 	
        		</td>
        		<td align="center">
        			{{ o.user_id }} 	
        		</td>
        		<td align="center">
        			{{ o.mdordrm__ordr_num }} 	
        		</td>
        		<td align="center">
        			{{ o.mdordrm__stor_m__stor_m_name }} 	
        		</td>
        		<td>
	                {% if order.order_status == '접수완료' %}
	                    <form method="post" action="{% url 'md_order:orderdone' %}">
	                        {% csrf_token %}
	                        <input type="hidden" name="ordr_id" value="{{ order.ordr_id }}">
	                        <input type="hidden" name="stor_id" value="{{ stor_id }}">
	                        <button type="submit"> 진행 중 </button>
	                    </form>
	                {% else %}
	                    <button type="button"> 완료 </button>
	                {% endif %}
	            </td>
        		<td align="center">
        			{{ o.ordr_ord_ts }} 	
        		</td>
        		<td align="center">
        			{{ o.ordr_com_ts }} 	
        		</td>
          </tr>
        {% endfor %}
    </table>
</body>
{%endblock%}
</html>
