{% extends "md_member/base.html" %}

{% block title %} <h2> 리뷰 목록 </h2> {% endblock %}

{% block content %}
	<table border="1">
	{% if count == 0 %}
		<tr>
			<td colspan="5" align="center" >
					등록된 리뷰가 없습니다.
		</tr>
	{% else %}
		{% for rdto in rdtos %}
			{% if rdto.ordr__mdordrm__stor_m__stor_id == 1 %}	<!-- #######수정해야 함 -->
				<tr>
					<td>매장명 ※ {{ rdto.ordr__mdordrm__stor_m__stor__stor_name }}※ </td>
					<!-- ##########구분 용 지울 예정 -->
				</tr>
				<tr>
					<td>
						<img src="/media/images/{{rdto.ordr__user__user_img}}" width="50" height="50" name="img_r" border-radius="50%">
						{{ rdto.ordr__user__user_nick }} /
						{{ rdto.rev_star }}
					</td>
				</tr>
				<tr>
					<td> {{ rdto.rev_ts | date:"y-m-d" }} </td>
				</tr>
				<tr>
					<td>
						{{ rdto.rev_cont }}
					</td>
				</tr>
				
			{% endif %}	
		{% endfor %}
	{% endif %}
	</table>
	
{% endblock %}
