{% extends "md_main/base2.html" %}


{% block content %}
<h2> 리뷰 목록 </h2>
	<table border="1">
	{% if count == 0 %}
		<tr>
			<td colspan="5" align="center" >
					등록된 리뷰가 없습니다.
			</td>
		</tr>
		<tr>
			<td> <br><br> </td>
		</tr>
		<tr>
			<td>
				<input type="button" value="매장으로 돌아가기" onclick="location='/md_store/storeuser?stor_id={{ stor_id }}'">
			</td>
		</tr>
	{% else %}
		{% for k, v in rev_list.items %}
			{% if v.stor_id == stor_id %}
				<tr>
					<td>
						<img src="/media/{{v.user_img}}" onerror="this.onerror=null; this.src='/media/no_image.png';" width="50" height="50" name="img_r" border-radius="50%">
						{{ v.user_nick }} /
						★{{ v.re_star }}
					</td>
				</tr>
				<tr>
					<td> {{ v.re_ts }} </td>
				</tr>
				<tr>
					<td>
						{% for tag in tags %}
							{% if tag.rev__rev_id == k %}
								<div style="border:1px solid darkblue; border-radius: 5px;">
									태그 : {{ tag.tag__tag_name }}
								</div>
							{% endif %}
						{% endfor %}
					</td><!-- 태그 -->
				</tr>
				<tr>
					<td>
						<img src="/media/{{v.re_img}}" onerror="this.onerror=null; this.src='/media/no_image.png';" width="50" height="50" name="img_r" border-radius="50%">
					</td>
				</tr>
				<tr>
					<td> {{ v.re_cont }} </td>
				</tr>
			{% endif %}
		{% endfor %}
	{% endif %}
	</table>
	
{% endblock %}
