<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Maddi</title>
	</head>
	<body>
	{% extends "md_main/base.html" %}
	
	{% block title %} <h2> 리뷰 목록 </h2> {% endblock %}
	
	{% block content %}
		<table >
		{% if count == 0 %}
			<tr>
				<td colspan="5" align="center" >
						등록된 리뷰가 없습니다.
			</tr>
		{% else %}
			{% for rev in review %}	
				<tr>
					<td>
					{% for us in user %}
						<img src="/media/{{us.user_img}}" width="50" height="50" name="img_r" border-radius="50%">
					{% endfor %}
					</td>
					
				</tr>
			{% endfor %}
		{% endif %}
		</table>
		
	{% endblock %}
	</body>
</html>