{% extends "md_member/base.html" %}

{% block title %} <h2> 리 뷰 작 성 </h2> {% endblock %}
{% block content %}
{% csrf_token %}
<form method="post" action="revwrite "	name="revwriteform" enctype="multipart/form-data">
	<input type="hidden" name="ordr_id" value="{{ordr_id}}">
	<table >
		<tr>
			<th colspan="4" align="center"> 리뷰 작성 </th>
		</tr>
		<tr>
			<th> 작성자 </th>
			<td> {{ nick.user_nick }}</td>
		</tr>
		<tr>
			<th> 주문 내역  </th>
			<td> {{m_name}} &nbsp;&nbsp; {{ ordr_num }}개</td>		
		</tr>
		<tr>
			<th> 별점  </th>
			<td> 
				<input class="input" type="text" name="rev_star" maxlength="6" placeholder="0~5점까지 입력해 주세요" required>
			</td>		
		</tr>
		<tr>
			<th> 태그 </th>
			<td>
				<select name="md_tag0" id="md_tag0" size="4">
					<option value="-1" disabled > ---선택--- </option>
					{% for tag0 in md_tag0 %}
						<option value="{{tag0.tag_id}}"> {{tag0.tag_name }} </option>
					{% endfor %}
				</select>
				<select name="md_tag1" id="md_tag1" multiple size="4">
					<option value="-1" disabled> ---여러개 선택 가능--- </option>
					{% for tag1 in md_tag1 %}
						<option value="{{tag1.tag_id}}"> {{tag1.tag_name }} </option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<th> 내용 </th><!--  범위 수정해야 함 -->
			<td> 
				<textarea name="rev_cont" rows="10" cols="30"  placeholder="내용을 입력해 주세요" required></textarea>
			</td>
		</tr>
		<tr>
			<th> 이미지 첨부 </th> 
			<td>
				<input class="input" type="file" name="rev_img" accept="image/*" onchange="readURL(this);">
				<img id="preview" style="width:150px;">
				<script>
					function readURL(input) {
						if (input.files && input.files[0]) {
						    var reader = new FileReader();
						    reader.onload = function(e) {
						      document.getElementById('preview').src = e.target.result;
						    };
						    reader.readAsDataURL(input.files[0]);
						  } else {
						    document.getElementById('preview').src = "";
						  }
						}
				</script>
			</td>
		</tr>
		<tr>
			<th colspan="2">
				<input class="inputbutton" type="submit" value="작성">
				<input class="inputbutton" type="reset" value="취소">
				<input class="inputbutton" type="button" value="주문목록"
					onclick="location='/md_member/myorderlist?pagenum={{ pagenum }}'">
			</th>
		</tr>
	</table>
</form>
{% endblock %}
