{% extends "md_member/base.html" %}
{% load mathfilters %}
{% load static %}

{% block content %}
<h2> 내 주문 내역  {{nick.user_nick }} :{{count}}  </h2> 
<table border="1">
	<tr>
		<th width="7%" > 번호 </th>
		<th width="10%"> 주문번호 </th>
		<th width="15%"> 매장명 </th>
		<th width="20%">  주문 내역 </th>
		<th width="10%"> 총 금액 </th>
		<th width="10%">  주문일시 </th>
		<th width="10%"> 완료일 </th>
		<th width="6%"> 리뷰 작성 </th>
		<th width="6%"> 리뷰 작성시험용 </th>
	</tr>
	{% if count == 0 %}		<!-- 글이 없음 -->
		<tr>
			<td colspan="8" align="center" >
				작성된 글이 없습니다.
		</tr>
	{% else %}
		{% for mdo in md_ordr %}
			<tr>
				<td align="center">							<!-- 현제 번호 인덱스 -->
					{{ number | sub:forloop.counter0 }}		
				</td>
				<td align="center">							<!-- 주문 번호 -->
					{{ mdo.ordr_id }}						
				</td>
				<td	align="center">							<!-- 매장 명 --><!-- ######### 맞는 이름이 안 나옴... -->
				<!--   for msm in md_stor_m 
					 for ms in md_stor 
						 if msm.stor_id == ms.stor_id and ordr_id == mdo_ordr_id 
							{{ms.stor_name}}
						 endif 
					 endfor 
				 endfor -->
				 {% for rdto in rdtos %}
				 	{% if rdto.ordr_id == mdo.ordr_id %}
					 	{{rdto.ordr__mdordrm__stor_m__stor__stor_name}}
					{% endif %}
				 {% endfor %}
				 
				</td>
				<td	align="center">							<!-- 주문 내역 -->
					{% for om in ordr_m %}
						{% if mdo.ordr_id == om.ordr_id %}
							{{ om.stor_m.stor_m_name }}	&nbsp; {{om.ordr_num }}						
						{% endif %}
					{% endfor %}
				</td>
				<td align="center">										<!-- 총 금액 -->
					{% for om in ordr_m %}
						{% if mdo.ordr_id == om.ordr_id and om.stor_m_id == om.stor_m.stor_m_id %}
							{{ om.ordr_num |mul:om.stor_m.stor_m_pric }}
						{% endif %}
					{% endfor %}
				</td>
				<td align="center">										<!-- 주문일시 -->
					{{ mdo.ordr_ord_ts |date:"Y-m-d H:i" }}				
				</td>
				<td align="center">										<!-- 완료일 -->
					{% if mdo.ordr_com_ts == None %}
						<pre  style="color:blue;"> 제품이 준비중입니다. </pre>
					{% else %}
						{{ mdo.ordr_com_ts |date:"Y-m-d H:i" }}									
					{% endif %}
				</td>
				<td align="center">									<!-- 리뷰 작성 버튼 -->
					
						
					{% if mdo.ordr_com_ts == None %}
						<input class="inputbutton" type="button" value="리뷰 작성" disabled >
					{% else %}
	                	<input class="inputbutton" type="button" value="리뷰 작성"
							onclick="location='/md_review/revwrite?ordr_id={{ mdo.ordr_id }}&pagenum={{ pagenum }}&number={{ number|sub:forloop.counter0 }}'">
					{% endif %}
	                
	                
				</td>
				<td align="center">		<!-- 리뷰 작성 버튼222222 -->
					
				</td>
			</tr>
		{% endfor %}
	{% endif %}
</table>
<br><br>
{% if startpage > pageblock %}
	<a href="myorderlist?pagenum={{ startpage|sub:pageblock }}">[◀]</a>
{% endif %}
{% for i in pages %}
	{% if i == pagenum %}
		<span>{{ i }}</span>
	{% else %}
		<a href="myorderlist?pagenum={{ i }}" >{{ i }}</a>
	{% endif %}
{% endfor %}
{% if pagecount > endpage %}
	<a href="myorderlist?pagenum={{ startpage|add:pageblock }}">[▶]</a>
{% endif %}

{% endblock %}	