{% extends "md_member/base.html" %}
{% load mathfilters %}
{% load static %}

{% block content %}
<h2> 내 주문 내역  {{nick.user_nick }} :{{count}}  </h2> 
<table border="1">
	<tr>
		<th width="7%" > 번호 </th>
		<th width="10%"> 주문번호 </th>
		<th width="15%"> 매장명 </th>
		<th width="20%"> 주문 메뉴 </th>
		<th width="10%"> 총 금액 </th>
		<th width="10%"> 주문일시 </th>
		<th width="10%"> 완료일 </th>
		<th width="6%"> 리뷰 작성 </th>
	</tr>
	{% if count == 0 %}		<!-- 글이 없음 -->
		<tr>
			<td colspan="8" align="center" >
				작성된 글이 없습니다.
		</tr>
	{% else %}
		{% for o in odtos %}
			<tr>
				<td align="center">							<!-- 현제 번호 인덱스 -->
					{{ number | sub:forloop.counter0 }}		
				</td>
				<td align="center">							<!-- 주문 번호 -->
					{{ o.ordr_id }}						
				</td>
				<td	align="center">							<!-- 매장 명 -->
				  	{{ o.mdordrm__stor_m__stor__stor_name }}
				</td>
				<td	align="center">							<!-- 주문 내역 -->
					{{ o.mdordrm__stor_m__stor_m_name }}	&nbsp; {{ o.mdordrm__ordr_num }}						
				</td>
				<td align="center">										<!-- 총 금액 -->
					{{ o.mdordrm__ordr_num|mul:o.mdordrm__stor_m__stor_m_pric  }} 원
				</td>
				<td align="center">										<!-- 주문일시 -->
					{{ o.ordr_ord_ts |date:"y-m-d H:i" }}				
				</td>
				<td align="center">										<!-- 완료일 -->
					{% if o.ordr_com_ts == None %}
						<pre  style="color:blue;"> 제품이 준비중입니다. </pre>
					{% else %}
						{{ o.ordr_com_ts |date:"y-m-d H:i" }}									
					{% endif %}
				</td>
				<td align="center">									<!-- 리뷰 작성 버튼 -->
					{% if o.ordr_com_ts == None %}
						<input class="inputbutton" type="button" value="리뷰 작성" disabled >
					{% else %}
                		<a href="/md_review/revwrite?ordr_id={{ o.ordr_id }}&pagenum={{ pagenum }}&number={{ number|sub:forloop.counter0 }}">
                		리뷰 작성</a>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	{% endif %}
</table>
<br><br>
{% if startpage > pageblock %}
	<a href="myorderlist?pagenum={{ startpage|sub:pageblock }}">[◀]</a>
{% endif %}
{% for i in pages %}
	{% if i == pagenum %}
		<span>{{ i }}</span>
	{% else %}
		<a href="myorderlist?pagenum={{ i }}" >{{ i }}</a>
	{% endif %}
{% endfor %}
{% if pagecount > endpage %}
	<a href="myorderlist?pagenum={{ startpage|add:pageblock }}">[▶]</a>
{% endif %}

{% endblock %}	