{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>로그인 전 후 상단바</title>
		<script src="{% static 'js/jquery-3.6.4.js' %}"></script>
		<script src="{% static 'js/script_member.js' %}"></script>
	</head>
	<body>
		{% block menu %}
			{% if memid %}	<!-- 세션이 있을시 -->
				<a href="/md_member/info"> 마이페이지 </a>&nbsp;&nbsp;&nbsp;
			{% else %}		<!-- 세션이 없을시 -->
				<a href="/md_member/login"> 로그인 </a>&nbsp;&nbsp;&nbsp;
			{% endif %}
		{% endblock %}
		{% block title %}  {% endblock %}
		<br><br>
		
		{% block content %}
		{% endblock %}
	</body>
</html>