{% extends "md_member/base.html" %}

{% block content %}
{% csrf_token %}
	<form method="post" action="userinfo" name="userinfoform" enctype="multipart/form-data">
		<input type="hidden" name="user_id" value="{{dtos.user_id}}">
		<table>
		<div style="text-align: right;">
		<tr>
			<th> 아이디 </th>
				<td> &nbsp;{{ dtos.user_id }} </td>
			</tr>
			<tr>
				<th> 비밀번호 </th>
				<td>
					<input class="input" type="password" name="user_pass" maxlength="20" value="{{dtos.user_pass}}" required>
				</td>
			</tr>
			<tr>
				<th> 이름 </th>
				<td>
					<input class="input" type="text" name="user_name" maxlength="30" required value="{{dtos.user_name}}">
				</td>
			</tr>
			<tr>
				<th> 닉네임 </th>
				<td>
					<input class="input" type="text" name="user_nick" id= "iuser_nick" maxlength="45" required value="{{dtos.user_nick}}">
					<font id = "checknick" size="2"></font>
				</td>
			</tr>
			<tr>
				<th> 생년월일 </th>
				<td> 
					<input type="date" name="user_bir" min="1900-01-01" max="2025-01-01" value="{{dtos.user_bir|date:'Y-m-d'}}" required >
				</td>
			</tr>
			<tr>
				<th> 성별 </th>
				<td> 
					<select name="gen_id">
						{% if  dtos.gen_id  == 0 %}
							<option value="0"> 남자 </option>
						{% else %}
							<option value="1"> 여자 </option>
						{% endif %}
					</select>
				</td>
			</tr>
			<tr>
				<th> 회원등급 </th>
				<td> {{g_name.user_g_name }} </td>
			</tr>
			<tr>
				<th> 대표이미지 </th>
				<td>
					<img src="/media/{{dtos.user_img}}" width="50" height="50" name="img_d" border-radius="50%">
					<input class="input" type="file" name="user_img" accept="image/*"  onchange="readURL(this);">
					<img id="preview" style="width:150px;">
					<script>
						function readURL(input) {
							if (input.files && input.files[0]) {
							    var reader = new FileReader();
							    reader.onload = function(e) {
							      document.getElementById('preview').src = e.target.result;
							    };
							    reader.readAsDataURL(input.files[0]);
							  } else {
							    document.getElementById('preview').src = "";
							  }
							}
					</script>
					<hr>
				</td>
			</tr> </div>
			<tr>
				<th colspan="2"> 상세 정보 선택(선택입력) /1가지 이상 선택할 수 있습니다 </th>
			</tr>
			<tr>
				<th> 디저트 취향 선택</th>
				<td>
					{% for dsrt in md_dsrt_t %}
						<input type="checkbox" name="md_dsrt_t" value="{{dsrt.dsrt_t_id}}">{{dsrt.dsrt_t_name }}
						{% for uds in udsrt %}
							{% if uds.dsrt_t_id == dsrt.dsrt_t_id %}
								<script>
								$('input[name="md_dsrt_t"][value={{dsrt.dsrt_t_id}}]').attr("checked", true)
								</script>
							{% endif %}
						{% endfor %}
					{% endfor %}
					<hr>
				</td>
			</tr>
			<tr>
				<th> 음료 취향 선택 </th>
				<td>
					{% for drnk in md_drnk_t %}
						<input type="checkbox" name="md_drnk_t" value="{{drnk.drnk_t_id}}">{{drnk.drnk_t_name }}
						{% for udr in udrnk %}
							{% if udr.drnk_t_id == drnk.drnk_t_id %}
								<script>
								$('input[name="md_drnk_t"][value={{drnk.drnk_t_id}}]').attr("checked", true)
								</script>
							{% endif %}
						{% endfor %}
					{% endfor %}
					<hr>
				</td>
			</tr>	
			<tr>
				<th> 알러지 정보 </th>
				<td>
					{% for algy in md_algy_t %}
						<input type="checkbox" name="md_algy_t" value="{{algy.algy_t_id}}">{{algy.algy_t_name }}
						{% for ual in ualgy %}
							{% if ual.algy_t_id == algy.algy_t_id %}
								<script>
								$('input[name="md_algy_t"][value={{algy.algy_t_id}}]').attr("checked", true)
								</script>
							{% endif %}
						{% endfor %}
					{% endfor %}
					<hr>
				</td>
			</tr>	
			<tr>
				<th> 현재 관심분야 </th>
				<td>
					{% for intr in md_intr_t %}
						<input type="checkbox" name="md_intr_t" value="{{intr.intr_t_id}}">{{intr.intr_t_name }}
						{% for uin in uintr %}
							{% if uin.intr_t_id == intr.intr_t_id %}
								<script>
								$('input[name="md_intr_t"][value={{intr.intr_t_id}}]').attr("checked", true)
								</script>
							{% endif %}
						{% endfor %}
					{% endfor %}
					<hr>
				</td>
			</tr>	
			<tr>
				<th> 좋아하는 맛 </th>
				<td>
					{% for tast in md_tast_t %}
						<input type="checkbox" name="md_tast_t" value="{{tast.tast_t_id}}">{{tast.tast_t_name }}
						{% for uta in utast %}
							{% if uta.tast_t_id == tast.tast_t_id %}
								<script>
								$('input[name="md_tast_t"][value={{tast.tast_t_id}}]').attr("checked", true)
								</script>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td>
					<br>
				</td>				
			</tr>
			<tr>
				<th colspan="2">
					<input class="inputbutton" type="submit" value="정보수정">
					<input class="inputbutton" type="reset" value="수정취소">
				</th>
			</tr>
		</table>
	</form>
{% endblock %}
