<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Maddi</title>
	</head>
	<body>
	{% extends "md_main/base.html" %}
	
	{% block title %} <h2> 마이페이지-회원정보 </h2> {% endblock %}
	
	{% block content %}
	{% csrf_token %}
		<form method="post" action="userinfo" name="userinfoform" enctype="multipart/form-data">
			<table>
			<tr>
				<th> 아이디 </th>
					<td> &nbsp;{{ dtos.user_id }} </td>
				</tr>
				<tr>
					<th> 비밀번호 </th>
					<td>
						<input class="input" type="password" name="user_pass" maxlength="20" value="{{dtos.user_pass}}" required>
					</td>
				</tr>
				<tr>
					<th> 이름 </th>
					<td>
						<input class="input" type="text" name="user_name" maxlength="30" required value="{{dtos.user_name}}">
					</td>
				</tr>
				<tr>
					<th> 닉네임 </th>
					<td>
						<input class="input" type="text" name="user_nick" maxlength="45" required value="{{dtos.user_nick}}">
					</td>
				</tr>
				<tr>
					<th> 생년월일 </th>
					<td> 
						<input type="date" name="user_bir" min="1900-01-01" max="2025-01-01" required >
						{{ dtos.user_bir }}
						<!-- <input class="input" type="text" name="user_birs" placeholder="YYYY-mm-dd" required>-->
					</td>
				</tr>
				<tr>
					<th> 성별 </th>
					<td> 
					{{ dtos.user_g_id }}
						<select name="user_g_id">
							<option value="0"> 남자 </option>
							<option value="1"> 여자 </option>
						</select>
					</td>
				</tr>
				<tr>
					<th> 회원등급 </th>
					<td> {{dtos.user_g_id }} </td>
				</tr>
				<tr>
					<th> 대표이미지 </th>
					<td>
						<img src="{{md_member.static.default_user.jpg }}" width="50" height="50" name="img_d" border-radius="50%">
						<input class="input" type="file" name="user_img" accept="image/*" >
						<hr>
					</td>
				</tr>
				<tr>
					<th colspan="2"> 상세 정보 선택(선택입력) /1가지 이상 선택할 수 있습니다 </th>
				</tr>
				<tr>
					<th> 디저트 취향 선택</th>
					<td>
						{% for dsrt in md_dsrt_t %}
							{{dsrt.dsrt_t_name }}<input type="checkbox" name="md_dsrt_t" value="{{dsrt.dsrt_t_name}}">
						{% endfor %}
						<hr>
					</td>
				</tr>
				<tr>
					<th> 음료 취향 선택 </th>
					<td>
						{% for drnk in md_drnk_t %}
							{{drnk.drnk_t_name }}<input type="checkbox" name="md_drnk_t" value="{{drnk.drnk_t_name}}">
						{% endfor %}
						<hr>
					</td>
				</tr>	
				<tr>
					<th> 알러지 정보 </th>
					<td>
						{% for algy in md_algy_t %}
							{{algy.algy_t_name }}<input type="checkbox" name="md_algy_t" value="{{algy.algy_t_name}}">
						{% endfor %}
						<hr>
					</td>
				</tr>	
				<tr>
					<th> 현재 관심분야 </th>
					<td>
						{% for intr in md_intr_t %}
							{{intr.intr_t_name }}<input type="checkbox" name="md_intr_t" value="{{intr.intr_t_name}}">
						{% endfor %}
						<hr>
					</td>
				</tr>	
				<tr>
					<th> 좋아하는 맛 </th>
					<td>
						{% for tast in md_tast_t %}
							{{tast.tast_t_name }}<input type="checkbox" name="md_tast_t" value="{{tast.tast_t_name}}">
						{% endfor %}
					</td>
				</tr>
				<tr>
					<td>
						<br>
					</td>				
				</tr>
				<tr>
					<th colspan="2">
						<input class="inputbutton" type="submit" value="정보수정">
						<input class="inputbutton" type="button" value="점주등록">
					</th>
				</tr>
			</table>
		</form>
	{% endblock %}
	</body>
</html>
